@import "styleItems";

#infoBar{
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 10px 0 10px 30px;
  vertical-align: top;
  text-align: left;
  border: 3px solid black;
  border-radius: 4px;
  display: none; /*diabled this for now */
  .infoItem{
    font-weight: 600;
    padding: 5px 0;
  }
}

#frontWrapper{
  width: 100%;
}
#front{
  margin: auto;
  max-width: 800px;
  padding: 20px 0;
}