/*Colours*/
@mainColour1:#A65362;
@mainColour2:#F2E0D0;
@mainColour3:#BF8F84;
@mainColour4:#591914;
@mainColour5:#734646;

/*Fonts*/
@itemHeaders: 'Titillium Web', sans-serif;
@generalFont: 'Roboto', sans-serif;