.switchBox{
  width: 600px;
  padding: 10px 20px;
  border: 3px solid black;
  margin: 10px auto;
  .textBox, .buttonBox {
    display: inline-block;
    width: 50%;
  }
  .textBox{
    line-height: 25px;
    input[type=button]{
      padding: 10px 15px;
      margin: 10px 0;
      background-color: cornflowerblue;
      color: white;
      font-size: 15px;
      border-radius: 4px;
      border: 3px solid black;
    }
  }
  .buttonBox{
    overflow-x: auto;
    height: 100%;
    input[type=button]{
      font-size: 15px;
      color: white;
      padding: 25px;
      line-height: 25px;
      margin: auto;
      background-color: #1faa5d;
      display: block;
      border-radius: 4px;
      border: 3px solid black;
    }
  }
}
.newSwitch{
  text-align: center;
  background-color: cornflowerblue;
  color: white;
}
.scheduleCreate{
  
}