@import "styleItems";
#topnav{
  color: white;
  width: 100%;
  background-color: #A65362;
  top: 0;
  height: 60px;
  border-bottom: 3px black solid;
  line-height: 60px;
  #logo, .mail{
    color: white;
    text-align: center;
  }
  .topHeader{
    width: 33%;
    display: inline-block;
  }
}