@import "styleItems";
#topnav{
  color: @fontColour1;
  background-color: @mainColour1;
  top: 0;
  height: 60px;
  border-bottom: 3px black solid;
  line-height: 60px;
  .textCenter{
    color: @fontColour1;
    text-align: center;
  }
  .topHeader{
    height: 100%;
    width: 33%;
    display: inline-block;
    vertical-align: top;
    img{
      padding: 5px;
      height: 90%;
    }
    p{
      line-height: 1.5;
    }
  }
}